<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
 <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        	
		<encoder>
				<pattern>%date %-5level [%thread] [%-40logger{15}:%-4line] %msg%n</pattern>
		</encoder>
	</appender>

	
	<appender name="MYBATIS" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/sql.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/sql.%d{yyyyMMdd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
					<pattern>%date %-5level [%thread] [%-40logger{15}:%-4line] %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="PACKAGE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>logs/avillback.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logs/avillback.%d{yyyyMMdd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
				<pattern>%date %-5level [%thread] [%-40logger{15}:%-4line] %msg%n</pattern>
		</encoder>
	</appender>
	
	<root level="ERROR">
		<appender-ref ref="PACKAGE" />
		<appender-ref ref="STDOUT" />
	</root>
 	
	<logger name="org.springframework" level="INFO" additivity="false">
		<appender-ref ref="PACKAGE" />
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="com.kt.ai.villa.mapper" level="DEBUG" additivity="false">
		<appender-ref ref="MYBATIS" />
	</logger>
	
	<logger name="com.kt.ai.villa" level="DEBUG" additivity="false">
		<appender-ref ref="PACKAGE" />
		<appender-ref ref="STDOUT" />		
	</logger>

</configuration>